<div fxLayout="row" fxLayoutGap="5px" fxLayout.xs="100%">
  <div class="flexred" fxFlex="10%" fxFlex.xs="10%"></div>
  <div class="flexblue" fxFlex="40%" fxFlex.xs="80%">
        <!-- form start -->
      
         <h2>Search For Blood</h2>

          <!-- select Input BloodGroups -->
             <mat-form-field>
                <mat-select placeholder="Blood Group">
                   <mat-option *ngFor="let group of bloodGroups" [value]="group.value">
                     {{ group.value }}
                    </mat-option>
                 </mat-select>
              </mat-form-field>

           <!-- select Input city -->
           <mat-form-field>
             <mat-select placeholder="Select City">
               <mat-option *ngFor="let city of cities" [value]="city.value">
                 {{ city.value }}
               </mat-option>
             </mat-select>
           </mat-form-field>
           <br>
           <mat-checkbox><h5>I have read and agree to abide by the terms and conditions</h5></mat-checkbox>
           <br>
           <button mat-raised-button style="width:auto" color="warn">Request</button>
         </div>
  <div class="flexgreen"fxFlex="50%" fxFlex.xs="10%"></div>
</div>
   
