
      <div class="container">
          <div class="row">
            <div class="aboutus col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <h2 class="heading">About Us</h2>
                <P class="p">'BloodFinder' is the first product resulted out of the community
                   welfare initiative called 'People Project' from Aditya Innovations. Universally, 
                   'Blood' is recognized as the most precious element that sustains life. It saves 
                   umerable lives across the world in a variety of conditions. Once in 
                   every 2- seconds, someone, somewhere is desperately in need of blood. More than 
                   29 million units of blood components are transfused every year. The need for 
                   blood is great - on any given day, approximately 39,000 units of
                    Red Blood Cells are needed. Each year, we could
                     meet only up to 1% (approx) of our nation’s 
                  demand for blood transfusion.</P>
            </div>
          </div>
      </div>

