/* .example-container {
    display: flex;
    flex-direction: column;
  } */
  
  /* .example-container > * {
    width: 100%;
  } */

  /* mat-grid-tile{
      background: rgb(6, 67, 107);
  } */

  raised-button.mat-warn {
    background-color: rgb(233, 30, 99) !important;
}

  .mat-form-field{
    width:400px !important;
}
@media(max-width:768px){
    .mat-form-field{
        width:100% !important;
    }
}