
<div class="container">
    <div style="margin-top: 45px;font-size: 15px;font-weight: 600;">
        <p style="margin: 0 0 10px;text-align: center;font-size: 25px;color:#cf1f3d;">
          “There is no great joy than saving a soul.”
        </p>
    </div>
    <div class="row" style="margin-top:30px;">
      <div align="center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="heading">Sign Up As Doner</span>
        <form [formGroup]="signupForm"(ngSubmit)="onSubmit()" class="signupForm">
            <mat-form-field>
              <input 
                matInput 
                placeholder="Full Name" 
                formControlName="fullName"
                class="form-control"
                #reset>
            </mat-form-field>
            <mat-error *ngIf="!signupForm.get('fullName').valid && signupForm.get('fullName').touched">
            Please enter full name.</mat-error>
            
    
            <mat-form-field>
              <input 
                  matInput 
                  placeholder="Email" 
                  formControlName="email"
                  class="form-control">
            </mat-form-field>
            <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                Please enter valid email.</mat-error>
    
            <mat-form-field>
              <input 
                 type="number"
                 matInput 
                 placeholder="Contact/ Mobile" 
                 formControlName="contact"
                 class="form-control">
            </mat-form-field>
            <mat-error *ngIf="!signupForm.get('contact').valid && signupForm.get('contact').touched">
                Please enter contact number.</mat-error>
    
            <!-- select Input city -->
            <mat-form-field>
              <mat-select placeholder="Select City" formControlName="city">
                <mat-option *ngFor="let city of cities" [value]="city.value" class="form-control">
                  {{ city.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="!signupForm.get('city').valid && signupForm.get('city').touched">
                Please select city.</mat-error>
    
            <!-- select Input BloodGroups -->
             <mat-form-field>
              <mat-select placeholder="Blood Group" formControlName="bloodGroup">
                <mat-option *ngFor="let group of bloodGroups" [value]="group.value" class="form-control">
                  {{ group.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="!signupForm.get('bloodGroup').valid && signupForm.get('bloodGroup').touched">
                Please select blood group.</mat-error>
    
            <mat-form-field>
              <input [type]="show ? 'text': 'password'" matInput placeholder="Password" formControlName="password" class="form-control">
              <i style="float:right" (click)="password()" [class]="show ? 'fa fa-eye-slash': 'fa fa-eye'" aria-hidden="true"></i>
            </mat-form-field>
            <mat-error *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                Password must be grater than 6 characters.</mat-error>
            <br>
            <button type="submit" [disabled]="signupForm.status=='INVALID'" mat-raised-button color="warn">Register</button> 
            <button type="submit" [disabled]="signupForm.controls.value === null" (click)="reset()" mat-raised-button color="warn">Reset</button> 
          </form>
    
      </div>

  
  
      <!-- <div align="center" class="col-lg-6 col-md-6 col-sm-12 col-xs-10">
      </div>
   -->
  
    </div>
  </div>