/* navbar */
.sidenav-container {
    height: 100% !important;
    position: unset;
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  
  .hidden{
    display: none;
  }
  .mat-drawer-transition .mat-drawer-backdrop{
    position: fixed !important;
  }
  .spacer{
    flex: 1 1 auto;
  }
  
  .close{
    z-index: 3;
    outline: 0;
    box-sizing: border-box;
    overflow-y: auto;
    transform: translate3d(-100%,0,0);
    /* transform: translate3d(0px, 0px, 0px); */
  }

  @media (max-width: 958px){
    .links{
      display: none;
    }
  }
/* navbar end */

.container{
    margin: 0px 50px;
}
@media (max-width: 960px){
   .container{
    margin: 0px;
   } 
} 