<mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile></mat-grid-tile>
  
    <mat-grid-tile>
        <div class="example-container">
          <h2 style="text-align:center">Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field>
                  <input 
                      matInput
                      formControlName="email" 
                      class="form-control"
                      placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                  <input 
                  matInput 
                  formControlName="password"
                  class="form-control"
                  placeholder="Password">
                </mat-form-field>
                <br>
                <button [disabled]="!loginForm.status=='INVALID'" mat-raised-button color="primary">Login</button>
          </form>
          </div> 
    </mat-grid-tile>
  
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  
  
  