<mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile></mat-grid-tile>
  
    <mat-grid-tile>
        <div class="example-container">
          <h2 style="text-align:center">Login</h2>
          <form (ngSubmit)="onSubmit()">
              <mat-form-field>
                  <input matInput
                         type="text"
                         class="form-control" 
                         id="email" name="email" 
                         placeholder="Email"
                         required
                         [(ngModel)]="email">
                </mat-form-field>
               
                <mat-form-field>    
                  <input matInput
                         type="password"
                         class="form-control" 
                         id="password" 
                         name="password" 
                         required
                         placeholder="Password"
                         [(ngModel)]="password">
                </mat-form-field>
                <br>
                <button class="fullbtn" mat-raised-button color="primary">Login</button>
            </form>
            <a (click)="resetEmail()" style="text-align:center;margin-top:5px;">forgot password ?</a>

          </div> 
    </mat-grid-tile>
  
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  
  
  