<mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile></mat-grid-tile>
  
    <mat-grid-tile>
        <div class="example-container">
          <h2 style="text-align:center">Login</h2>
            <mat-form-field>
              <input matInput placeholder="Email/ Mobile no.">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password">
            </mat-form-field>
      
            <button mat-raised-button color="primary">Login</button>
          </div> 
    </mat-grid-tile>
  
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  
  
  